.header{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}

.pages{
    display: flex;
    justify-content: right;
}

.item{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}