.background{
  background-color: #474747;
  display: grid;
  padding: 5%;
}

.wrapper {
  background-color: #3B3B3B;
  min-height: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

.header{
  grid-area: header;
  display: grid;
  grid-template-columns: 76% 10% 7% 7%;
}

.book{
  grid-column-start: 3;
}

.name{

}

.main{
  grid-area: main;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #474747;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.photo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.img1 {
  max-width: 100%;
  margin-top: 5%;
}

.img{
  max-width: 100%;
  object-fit: cover;
  border:#ffffff 3.5px solid;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 10% 5% 5%;
}

.footer{
  grid-area: footer;
}

.item{
  text-decoration: none;
  color: white;
  padding: 10px;
}
